<footer
  class="section footer-classic context-dark bg-image"
  style="background: #2d3246"
>
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4">
          <a class="brand-logo-light" href="index.html">Shree Karthick</a>
          <p>
            Contact us for more details.<br />
            Team Shree Karthick
          </p>
          <!-- Rights-->
          <p class="rights">
            <span>© </span><span class="copyright-year">2023</span><span></span
            ><span>Sussout</span><span>.</span><span>All Rights Reserved.</span>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Contacts</h5>
        <dl class="contact-list">
          <dt>Address:</dt>
          <dd>798 South Park Avenue, Jaipur, Raj</dd>
        </dl>
        <dl class="contact-list">
          <dt>email:</dt>
          <dd><a href="mailto:#">dkstudioin@gmail.com</a></dd>
        </dl>
        <dl class="contact-list">
          <dt>phones:</dt>
          <dd>
            <a href="tel:#">https://karosearch.com</a> <span>or</span>
            <a href="tel:#">https://karosearch.com</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-4 col-xl-3">
        <h5>Links</h5>
        <ul class="nav-list">
          <li><a href="#">About</a></li>
          <li><a href="#">Works</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row no-gutters social-container">
    <div class="col">
      <a class="social-inner" href="#"
        ><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a
      >
    </div>
    <div class="col">
      <a class="social-inner" href="#"
        ><span class="icon mdi mdi-instagram"></span><span>instagram</span></a
      >
    </div>
    <div class="col">
      <a class="social-inner" href="#"
        ><span class="icon mdi mdi-twitter"></span><span>twitter</span></a
      >
    </div>
    <div class="col">
      <a class="social-inner" href="#"
        ><span class="icon mdi mdi-youtube-play"></span><span>google</span></a
      >
    </div>
  </div>
</footer>
