<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#"
    ><div>Shree</div>
    Karthick</a
  >
  <button
    class="navbar-toggler"
    type="button"
    (click)="toggleNavbar()"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    [ngClass]="{ show: navbarOpen }"
    #navbarNav
    id="navbarNavAltMarkup"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="." fragment="home">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="." fragment="aboutus">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="." fragment="works">Works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="." fragment="footer">Contact</a>
      </li>
    </ul>
  </div>
</nav>
