nav {
  background-color: transparent !important;
  backdrop-filter: blur(2px) brightness(80%);
}
.nav-link {
  transition: all 0.3s ease-in-out;
}

.nav-link:hover, .nav-link:focus {
  transform: scale(1.1);
}

.nav-link.active {
  transform: rotateY(360deg);
}
a {
  color: whitesmoke;
}
.navbar-toggler {
  color: whitesmoke;
}
.nav-item {
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.navbar-brand {
  font: 1.5rem fruktur;
  text-align: center;
  padding: 10px;
}