<app-navbar></app-navbar>
<section #home id="home" class="headerSection">
  <div class="layer">
    <div class="home" id="abt">
      An Indian film director and screenwriter who works primarily in Tamil
      cinema. Karthick directed a number of short films and commercials before
      venturing into the feature films with his directorial debut being Oke Oka
      Jeevitham, a bilingual starring Sharwanand and produced by Dream Warrior
      Pictures.
    </div>
  </div>
</section>
<section class="headerSection-2" id="aboutus" #aboutus></section>
<section class="headerSection-3" id="works" #works></section>
<app-footer id="footer" #footer></app-footer>
