.headerSection {
  width: min(100vw);
  height: min(100vh);
  padding: 0;
  margin: 0;
  background: url("/assets/images/home.jpeg") no-repeat center center fixed;;
  -webkit-background-size:cover;
  -o-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
}
.layer {
  // backdrop-filter: blur(8px) brightness(80%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.headerSection-2 {
  width: min(100vw);
  height: min(100vh);
  padding: 0;
  margin: 0;
  background: url("/assets/images/about.jpeg") no-repeat center center fixed;
  -webkit-background-size:cover;
  -o-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
}
.headerSection-3 {
  width: min(100vw);
  height: min(100vh);
  padding: 0;
  margin: 0;
  background: url("/assets/images/works.jpeg") no-repeat center center fixed;
  -webkit-background-size:cover;
  -o-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
}

.home {
  font-family: 'Inria Serif', serif;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  top: 40%;
  font-weight: 300;
  position: relative;
  margin: 0;
  float: right;
  padding:1rem;
  color: whitesmoke;
  display: flex;
  width: min(70vw, 600px);
  // backdrop-filter: blur(8px) brightness(80%);
  // -webkit-backdrop-filter: blur(8px) brightness(80%);
  // border-radius: 1rem;
  
}
// .text-overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   padding: 1rem;
//   font-size: 2rem;
//   font-weight: 100;
//   color: white;
//   backdrop-filter: blur(8px) brightness(80%);
// }